<div class="product">
  <div class="containerAll  product-item">
    <div class="">
      <img src="{{product.image}}" class="card-img" alt="Product">
    </div>
    <div class="card-body p-4">
      <h1 class="card-title fw-bold mb-3">{{product.title}}</h1>
      <p class="card-text mb-4">{{product.description}}</p>
      <div class="price">Цена: {{product.price}} рублей</div>
      <div class="btn-box">
        <a class="btn btn-primary" routerLink="/order">Купить</a>
      </div>

    </div>
  </div>
</div>
