.form-box {
  height: 100vh;
}
.styleError {
  font-size: 14px;
}

.container {
  height: 100vh;


}

.box-text {
  max-width: 394px;
  margin: 170px auto;
}

.btn-box {

}
.btn {
  display: inline-block;
  margin-right: 15px;
}
.btn-text {
  display: inline-block;
}
